{% include "header.tmpl" %}

<div class="container">
  <img class="d-flex mr-3 glyph-icon" src="/static/img/si-glyph-book-3.svg" alt="book image">
<h1>{{ book['book_data'].book_name }}</h1>
<div class="container">
	<div class="media">
	  <div class="media-body">
		<h4 class="mt-0">{{ book['book_chapters'][0][0].chapter_title }}</h4>
	 {% for author in book['book_authors'] %}
		<h6>{{ author.full_name }}</h6>
	 {% endfor %}
		{% if book['book_chapters'][1][1] == 'allow' %}

			{{ book['book_chapters'][0][0].chapter_text_br }}

		{% elif book['book_chapters'][0][1] == 'deny' %}

			{{ book['book_chapters'][0][0].short_text }}

	<div class="alert alert-warning" role="alert"> 
		Данная глава закрыта для доступа автором. 
		<br>Глава будет доступна для бесплатного просмотра {{ book['book_chapters'][0][0].date_to_open.strftime('%d-%m-%Y') }}
	</div>                                                     

		{% endif %}

	  </div>
	</div>
</div>
<div>
{% include "footer.tmpl" %}


