{% include "header.tmpl" %}
<div class="container-fluid">
  <div class="row">
	<div class="col">
<h1>Книги в жанре: {{ current_genre.genre_name }} </h1>
{% for item in book %}
	<div class="media">
	  <img class="d-flex mr-3 glyph-icon" src="/static/img/si-glyph-book-3.svg" alt="book image">
	  <div class="media-body">
		<h5 class="mt-0"><a  href='/book/{{ item.id }}'>{{ item.book_name }}</a></h5>
	 {% for author in item.authors %}
		<a href='/profile/{{ author.user.id }}'>{{ author.user.full_name }}</a>
	 {% endfor %}
		<br/>
		{% for genre in item.genre %}
		<span class="badge badge-default"><a href='/genres/{{ genre.genre.id}}'>{{ genre.genre.genre_name }}</a></span>
		{% endfor %}
		<p>{{ item.book_description }}</p>
	  </div>
	</div>
{% endfor %}
	</div>
	{% include "genres.tmpl" %}
  </div>
</div>

{% include "footer.tmpl" %}
