
{% include "header.tmpl" %}

<div class="container-fluid">
	<div class="media">
        <img class="d-flex mr-3 glyph-men" src="/static/img/si-glyph-person-2.svg" alt="book image">
        <div class="media-body">
    {% if not edit %}
		{% if owner %}
		<p>
		<button style="margin-top: 5px;" type="button" class="btn btn-dark"
			onclick="window.location.href = '/profile/?edit=true'">Отредактировать Профиль</button>
		</p>
		{% endif %}
	<p>Имя пользователя: {{ user_data.user_name }}</p>
	<p>Полное имя: {{ user_data.full_name }}</p>
	<p>Email: {{ user_data.email }}</p>
	<p>Telegram: {{ user_data.telegram_login }}</p>
	<p>О себе: {{ user_data.about }}</p>

	{% elif edit %}
	<form method='POST' action='/profile/'>
	<p>Имя пользователя:
        <input class="form-control mr-sm-2" type="text" placeholder="{{ user_data.user_name }}" aria-label="{{ user_data.user_name }}" name='user_name'>
    </p>
    <p>Пароль:
       <input class="form-control mr-sm-2" type="password" placeholder="Пароль" aria-label="password" name='password'>
    </p>
    <p>Повторите Пароль:
       <input class="form-control mr-sm-2" type="password" placeholder="Пароль" aria-label="password" name='rep_password'>
    </p>

	<p>Имя:
        <input class="form-control mr-sm-2" type="text" placeholder="{{ user_data.first_name }}" aria-label="{{ user_data.first_name }}" name='first_name'>
    </p>
	<p>Отчество:
        <input class="form-control mr-sm-2" type="text" placeholder="{{ user_data.middle_name }}" aria-label="{{ user_data.middle_name }}" name='middle_name'>
    </p>
	<p>Фамилия:
        <input class="form-control mr-sm-2" type="text" placeholder="{{ user_data.last_name }}" aria-label="{{ user_data.last_name }}" name='last_name'>
    </p>
	<p>Email: 
        <input class="form-control mr-sm-2" type="text" placeholder="{{ user_data.email }}" aria-label="{{ user_data.email }}" name='email'>
    </p>
	<p>Telegram:
        <input class="form-control mr-sm-2" type="text" placeholder="{{ user_data.telegram_login }}" aria-label="{{ user_data.telegram_login }}" name='telegram_login'>
    </p>
	<p>О себе:
        <input class="form-control mr-sm-2" type="text" placeholder="{{ user_data.about }}" aria-label="{{ user_data.about }}" name='about'>
    </p>
    <br><button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Сохранить</button>
	</form>
	{% endif %}
	 </div>
	</div>
</div>

{% if not edit %}
<h4>Список книг пользоватля: 
{% if owner %}
<a style="margin-top: 5px;" type="button" class="btn btn-dark" href = '/addbook'>Добавить Книгу</a>
{% endif %}
</h4>
<div class="container-fluid">
{% for book in user_data.books_author %}
	<div class="media">
	  <img class="d-flex mr-3 glyph-icon" src="/static/img/si-glyph-book-3.svg" alt="book image">
	  <div class="media-body">
		<h5 class="mt-0"><a  href='/book/{{ book.books_author.id }}'>{{ book.books_author.book_name }}</a></h5>
	 {% for author in book.books_author.authors %}
		<h6><a href='/profile/{{ author.user.id }}'>{{ author.user.full_name }}</a></h6>
	 {% endfor %}
		{{ book.books_author.book_description }}
	  </div>
	</div>
{% endfor %}
</div>

{% endif %}

{% include "footer.tmpl" %}
